body {
	max-width: 600px;
	margin: 0 auto;
}

#container {
	text-align: center;
}

.w3-col.s9.w3-container,
.comment {
	text-align: left;
}

#container > div > ul > li {
	width: 50% !important;
	float: left;
}

.nav {
	margin-bottom: 20px;
	margin-top: 5px;
}

.photos {
	text-align: left;
}